@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            Viewer is a simple ASP.Net Core MongoDB administration prototype using Okta to authenticate users in order to set access permission to views. The User Access View showcases the different elements in the MongoDB database, while the Admin Access View enables users in the Admin group to edit and add new fields and collections to the database.
        </p>
        <br />
        <br />
        <br />
        <h1 class="display-4">Bievenido</h1>
        <p>
            Viewer es un simple prototipo escrito en ASP.Net Core para la administracion de una base de datos MongoDB usando Okta para autenticar usuarios para establecer permisos a las vistas. La pestaña de User Access permite ver los diferentes elementos de la base de datos MongoDB, mientras que la pestaña Admin Access permite a los usuarios en el grupo Admin editar y agregar nuevos valores y collecciones a la base de datos.
        </p>
    </div>
